.Rproj.user
.Rhistory
.RData
.Ruserdata
GenomeProt.Rproj
GenomeProt/bin/__pycache__/
GenomeProt/execute_commands_with_bash_env.sh
GenomeProt/testdata_output/
GenomeProt/data/openprot_uniprotDb_*.txt
GenomeProt/data/openprot_uniprotDb_*.txt
testdata/*
fragpipe-23.1
!testdata/
!testdata/*.zip
testdata/long_read_bam/*
!testdata/long_read_bam.zip
*.pyc